body {
  font-family: "Roboto", sans-serif;
  margin: 0%;
}

header {
  background-color: #9c8f5a;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
}

header .scroll-link {
  color: #556b2f;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  border: solid 3px;
  padding: 10px 0px;
  width: 30%;
  text-align: center;
}

.scroll-link:hover {
  color: #556b2f;
}

p {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 2%;
}

#introduction h2,
#introduction h3 {
  color: #c2b280;
  margin-left: 10%;
}

h3 {
  color: #556b2f;
  margin-left: 10%;
}

li {
  margin-left: 10%;
  color: #556b2f;
}

#introduction {
  display: flex;
  background-color: #494d38;
  padding: 5%;
  color: #c2b280;
}

#introduction img {
  height: 30vh;
  width: auto;
  object-fit: cover;
}

.github-link,
.live-site {
  color: #040444;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  border: solid 3px;
  padding: 3%;
  text-align: center;
}

.github-link:hover,
.live-site:hover {
  color: #556b2f;
}

#projects {
  display: flex;
  justify-content: space-between;
  background-color: #494d38;
  padding: 2%;
  color: #c2b280;
}

.project-container {
  position: relative;
  width: 30%;
  height: 100%;
  margin-bottom: 2em;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-inline: 2px solid #c2b280;
  color: #c2b280;
}

.project-container img {
  width: auto;
  height: 45vh;
  object-fit: cover;
  margin: auto;
}

.project-container p,
.project-container h2 {
  text-align: center;
  margin: 30px auto;
}

.project-container h2 {
  font-size: large;
}

.skills {
  background-color: #9c8f5a;
  color: #556b2f;
  height: 100%;
  padding: 2% 0%;
}

@media screen and (max-width: 768px) {
  .project-container {
    width: 100%;
  }
  #introduction {
    flex-direction: column;
    align-items: center;
  }

  #introduction img {
    height: auto;
    width: 90%;
  }

  p,
  h3,
  li {
    width: 90%;
    margin-left: 5%;
  }

  header .scroll-link {
    font-size: small;
  }

  #projects {
    flex-wrap: wrap;
  }

  .profilepic {
    margin-left: 5%;
  }
}
